body {
    /* background-image: url("/images/m8-plate-1_smoke.png") !important;
    background-position: center;
    background-size: cover; */

    background:
            radial-gradient(ellipse at center,
                rgba(40, 40, 40, 0.15) 0%,
    
                rgba(70, 70, 70, 0.15) 30%,
    
                rgba(110, 105, 100, 0.15) 65%,
    
                rgba(150, 145, 140, 0.15) 100%),
            linear-gradient(to bottom,
                rgba(180, 175, 168, 0.35) 0%,
                rgba(120, 115, 110, 0.15) 60%,
                rgba(60, 55, 50, 0.10) 100%);
    
        background-blend-mode: soft-light, normal;
}

